@import url('https://fonts.googleapis.com/css?family=Cabin');

p {
margin-top: .5em;
margin-bottom: .5em;

}

#board {
  font-family: Circle,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  margin : 0 0 1em;
  max-width: 600px; 
  min-width: 400px;
}

/*=========Arrow======*/

.arrow {
  text-decoration: none;
  margin-left: 7px;
}

/*=========Borders=======*/

.lightBorder {
  border-style: solid;
  border-width: 1px;
  border-color: #DBDBDB;
  border-radius: 2.5px;
}

/*===========Buttons========*/

button {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0rem;
    margin: 0;
    text-decoration: none;
    background: none;
    font-family: Circle,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;;
    font-size: 18px;
    font-weight: 400;
    color: #008489;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
  cursor: pointer;
}

.button_1 {
  font-weight: 400; 
  font-size: 18px;
  color: #008489;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.button_1:hover {
  cursor: pointer;
  text-decoration: underline;
}


/*=========Icons=======*/

.icon_1 {
  height: 16px;
}

.icon_2 {
  height: 25px;
  margin-right: 10px
}

.icon_3 {
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
}

/*========margin=========*/

.marginTop {
  margin-top: 30px;
}

.marginTop_1 {
  margin-top: 20px;
}

/*=========Paragraphs=======*/

.paragraph {
  font-weight: 300; 
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 24px;
  letter-spacing: normal;
}

/*=======pointer=====*/

.pointer {
  cursor: pointer;
}

/*======Titles======*/

.title_0 {
  font-size: 14px;
  font-weight: 600; 
  color: #484848;
}

.title_1 {
  font-size: 18px;
  font-weight: 500; 
}

.title_2 {
  font-size: 40px;
  font-weight: 500; 
}

.title_4 {
  font-size: 16px;
  font-weight: 500; 
}

.title_10 {
  font-size: 30px;
  font-weight: 600; 
}

.title_11 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
}

/*=========underline========*/

.underline div:hover {
  text-decoration: underline;
}

/*=========HEADER=======*/

#listingHeader {
  display: flex;
  justify-content: space-between;
}

.headerPropertyInfo {
display: flex;
flex-direction: column; 
justify-content: space-around;
}

.listingTitle {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 38px;
  font-weight: 600;
  line-height: 32px;
  min-width: 340px;
}

.listingLocation {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 200;
  color: #484848;
}

.headerOwnerInfo {
  float: right;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ownerImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;  
  margin: 6px;
}

.ownerName {
  font-size: 15px;
  font-weight: 400;
  color: #484848;
  display: flex;
  justify-content: center;
}

/*=========Accommodation=======*/

#accomodations {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 400px;
}

.accomodationIcon {
  height: 18px;
  margin-right: 7px;
  margin-left: 18px
}

#userIcon {
  margin-right: 7px;
  margin-left: 0px;
}

#bedIcon {
  height: 20px;
}

/*=========ViewsAlert=======*/

#viewsAlert {
  height: 85px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewsAlertText {
  max-width: 350px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.viewsAlertImage {
  float: right;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lightBulbImage {
  width: 40px;
}

.houseViews {
  font-size: 15px;
}

/*=========Highlights=======*/

#highlightsBoard {
  margin-top: 25px;
  padding: 15px;
  margin-bottom: 25px;
}

.allHighlights {
  margin-top: 10px;
}

.highlightTitle {
  float: left;
  font-weight: 600;
  font-size: 16px;
  margin-right: 4px
}
.highlightText {
  position: relative;
  font-weight: 300; 
  font-size: 16px;
}

.highlightFeedBack {
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-top: 8px;
 margin-bottom:  10px; 
 color: #b7b7b7;

}

.highlightFeedBack div:hover {
  color: #008489;
}

.highlightFeedback_1 {
  margin-right: 3px;
}

.highlightThumbsUp { 
  width: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

.icon_thumb {
  width: 14px;
  height: 16px;
  margin-left: 3px;
  margin-right: 3px;
  color: #008489;
}
.icon_thumb:hover {
  color: #008489; 
}

.dot {
  margin-left: 3px;
}

.highlightFeedback_2 {
  margin-left: 3px;
}

.feedbackResult {
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-top: 10px;
 margin-bottom:  20px; 
 color: #484848;
}

/*===========Description============*/

.descriptionBoard {
  margin-bottom: 25px;
}

.descriptionReadButton {
  display: flex;
  flex-direction: row;
  color: #008489;
}

/*=============Contact host===========*/

#contactHost {
margin-top: 15px;
}

.contactButton {
  margin-top: 15px;
}

/*===========Amenities Board==========*/

.amenityComponent{
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-bottom-width: 1px;
}

#amenitiesBoard {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-top-style: solid;
}

.listOfTopAmenities {
  margin-top: 15px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.amenityItem {
  height: 36px;
  font-size: 16px;
  font-weight: 200; 
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 130px;
  max-width: 199px;

}

/*========Amenities Modal==========*/

#allAmenitiesBoard {
  padding: 20px;
  max-width: 568px;
  min-width: 500px;
}

.amenityTable{
  margin-top: 18px;
}

.itemsSection{
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 25px
}

.anAmenity{
  font-size: 18px;
  letter-spacing: normal;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #DBDBDB;
}

.amenityText{
  padding-top: 15px;
  padding-bottom: 15px;
}

.amenityNotIncluded{
  text-decoration: line-through;
}

/*=============Working Modal===============*/

.modalStyle {
  background-color: #fff;
  border-radius: 2px;
  max-width: 570px;
  min-width: 500px;
  margin-top: 50px;
  padding: 30px;
}

.backdropStyle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
  padding: 50;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.xButton {
  padding: 5px;
  width: 25px;
  margin-left: 20px;
  border-radius: 100%;
}

.xButton:hover {
 
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px gray;
 box-shadow: 2px gray;
  overflow: visible;
}

/*===============Rules============*/

.rulesBoard {
  margin-top: 20px;
  margin-bottom: 30px;
}

.rulesTable {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 300; 
  font-size: 17px;
  line-height: 29px;
  letter-spacing: normal;
}

.rulesDescription {
  margin-top: 15px;
}

.rulesDisplay {
  margin-top: 0px;
}

.shortBorder {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #DBDBDB;
  width: 80px;
}

/*==========Cancellations===========*/


.cancellationShortParagraph {
  font-weight: 300; 
  font-size: 18px;
  margin-top: 0px;
  line-height: 24px;
  letter-spacing: normal;
}

.cancellationParagraph {
  font-weight: 300; 
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 24px;
  letter-spacing: normal;
}

.readMoreButton {
  margin-bottom: 20px;
   font-weight: 400; 
  font-size: 18px;
  color: #008489;
}

.readMoreButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*=======Availability==========*/

.availabilityTable {
  font-weight: 300; 
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 20px;
  letter-spacing: normal;
}

.strong {
  font-weight: 500; 
  font-size: 17px;
}

/*=============Sleeping Arrangements=============*/

.SleepingArrangementsSection {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DBDBDB;
  padding-bottom: 4px;
}

.SleepingArrangementsTable {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 20px;
  overflow: scroll;
}

.roomArrangementBorder {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.aRoom {
  width: 135px;
  height: 125px;
  padding: 24px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #DBDBDB;
  margin-right: 17px;
}

.arrangementImages {
  height: 50px;
}

.roomArrangementText {
  font-weight: 300; 
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 15px;
  letter-spacing: normal;
}

.roomArrangemenBedTitles{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500; 
}
